#container {
     width: 100%;
}

.item {
     float: left;
     width: 33.33%;
     display: inline-block;
     line-height: 0;
     height:0;
     padding-bottom:22%;
}

.item img {
     width:100%;
}

.item:hover .pic{   
     opacity: .3;
}

.item:hover p {
     opacity: 1;
}

.item p {
     z-index: 12;
     opacity: 0;
     font-size: 22px;
     position: relative;
     float: left;
     margin-top: -36%;
     margin-left: 5%;
     padding: 0;
     height: 50%;
     width:90%;
     line-height: 1.2em;
     font-family: 'Libre Baskerville', serif;
     font-weight: 300;
     text-align: center;
     color: #2E2E2E;

     text-overflow: ellipsis;

     /* Required for text-overflow to do anything */
     white-space: nowrap;
     overflow: hidden;
}

a:visited, a:hover, a:link, a:active {
     color: #2E2E2E;
     text-decoration: none;
}

.logoMobile {
     display: none;
}

h3 {
     font-family: arial;
}

@media (min-width:720px) and (max-width:990px) {
     .logoMobile {
          display:block;
          width: 100%;
          height: 100px;
          text-align: center;
     }

     .logoMobile img {
          max-height: 175px;
               }
 
     .item {
          width:50%;
          display:inline-block;
          padding-bottom:33%;
          }

     .logoLarge {
          display:none;
     }
}

@media (min-width:200px) and (max-width:719px) {
     .logoMobile {
          display:block;
          width: 100%;
          height: 75px;
          text-align: center;
     }

     .logoMobile img {
          max-height: 125px;
               }
 
 
     .item {
          width:100%;
          display:inline-block;
          padding-bottom:66%;
     }

     .logoLarge {
          display:none;
     }
}

